Repository Nitzan94/nitzan-portfolio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @senior-developers, @frontend-team, @ui-ux-team, @react-experts, @utils-maintainers, @devops-team, @infrastructure-team, @tech-writers, @qa-team, @typescript-experts, @security-team

feat: Add revolutionary CMS system with live editing capabilities
  package-lock.json
  portfolio.html
  src/App.jsx
  src/components/AdminPanel.jsx
  src/components/ArchitectureDiagram.jsx
  src/components/DemoCarousel.jsx
  src/components/EditableText.jsx
  src/components/InteractiveTerminal.jsx
  src/components/LeadForm.jsx
  src/components/MetricsCard.jsx
  src/hooks/useEditMode.js
  src/pages/Home.jsx
  src/styles/EditMode.css
  src/styles/Portfolio.css
Owners: @team-leads, @senior-developers, @frontend-team, @ui-ux-team, @react-experts

feat: Add comprehensive build process demo and architecture deep-dive
  .gitignore
  src/App.jsx
  src/components/BuildProcessDemo.jsx
  src/components/ROICalculator.jsx
  src/pages/ArchitectureDetails.jsx
  src/pages/Home.jsx
  src/styles/ArchitectureDetails.css
  src/styles/BuildProcess.css
  src/styles/Portfolio.css
Owners: @team-leads, @senior-developers, @frontend-team, @ui-ux-team

feat: Major UX improvements - Enhanced architecture visualization and CMS expansion
  src/components/ArchitectureDiagram.jsx
  src/pages/Home.jsx
  src/styles/Portfolio.css
Owners: @frontend-team, @ui-ux-team

feat: Transform from marketing to professional education focus
  package-lock.json
  package.json
  src/components/DemoCarousel.jsx
  src/components/Enhanced3DArchitecture.jsx
  src/components/EnhancedTerminal.jsx
  src/components/EnhancedTimeline.jsx
  src/components/FuturisticMetrics.jsx
  src/components/LeadForm.jsx
  src/components/ParticleBackground.jsx
  src/pages/Home.jsx
  src/styles/Portfolio.css
Owners: @team-leads, @senior-developers, @devops-team, @frontend-team, @ui-ux-team

feat: Complete content management system with Gist integration
  accessibility-analysis-report.md
  accessibility-testing-guide.md
  contrast-fixes.css
  package-lock.json
  package.json
  playwright-analysis.js
  screenshot-analysis.js
  simple-analysis.js
  src/components/ContentControlPanel.jsx
  src/components/DemoCarousel.jsx
  src/components/EditableText.jsx
  src/components/Enhanced3DArchitecture.jsx
  src/components/EnhancedTimeline.jsx
  src/components/GistSetup.jsx
  src/components/GlobalEditPanel.jsx
  src/components/InteractiveTerminal.jsx
  src/components/LeadForm.jsx
  src/components/UniversalEditableText.jsx
  src/hooks/useContentManager.js
  src/pages/Home.jsx
  src/styles/Portfolio.css
Owners: @team-leads, @senior-developers, @devops-team, @frontend-team, @ui-ux-team, @react-experts

fix: Improve text visibility and milestone integration
  src/components/ContentControlPanel.jsx
  src/components/EnhancedTimeline.jsx
  src/hooks/useContentManager.js
  src/pages/Home.jsx
  src/styles/Portfolio.css
Owners: @frontend-team, @ui-ux-team, @react-experts

feat: Enhanced animations and improved timeline styling
  src/styles/Portfolio.css
Owners: @frontend-team, @ui-ux-team

remove: Clean up form footer with trust signals
  src/components/LeadForm.jsx
Owners: @frontend-team, @ui-ux-team

.github/CODEOWNERS:

# Global code owners
* @team-leads @senior-developers

# Frontend specific
/src/components/ @frontend-team @ui-ux-team
/src/pages/ @frontend-team
/src/hooks/ @frontend-team @react-experts
/src/utils/ @frontend-team @utils-maintainers
/src/styles/ @frontend-team @ui-ux-team

# Configuration files
/src/config/ @devops-team @senior-developers
/.github/ @devops-team @team-leads
/docker* @devops-team
/k8s/ @devops-team @infrastructure-team

# Documentation
/docs/ @tech-writers @team-leads
README.md @team-leads
CONTRIBUTING.md @team-leads
CHANGELOG.md @team-leads

# Testing
/tests/ @qa-team @frontend-team
*.test.js @qa-team @frontend-team
*.spec.js @qa-team @frontend-team

# Build and deployment
vite.config.js @frontend-team @devops-team
package.json @team-leads @devops-team
tsconfig.json @frontend-team @typescript-experts

# Security sensitive files
.env* @security-team @devops-team
/src/config/security* @security-team @senior-developers
